.container {
    display: flex;
  }
  
  .item {
    background: ghostwhite;
    cursor: pointer;
    padding: 0.5rem;
    width: 100px;
    margin: 2px;
  
    &:hover {
      background: bisque;
    }
  }
  
  .menu-button {
    border: none;
    border-radius: 2px;
    background: coral;
    color: white;
    height: 30px;
    margin: 2px;
    cursor: pointer;
    &:hover{
      background: indianred;
    }
  }
  
  .selected {
    border: 2px dashed black;
  }