.conveyor {
    width: 70vw;
    position: relative;

    & .item {
        position: absolute;
        font-size: 120px;
        animation: move 5s linear infinite;
    }
}

@keyframes move {
    from {
        left: 0;
    }

    to {
        left: 90%;
    }
}
